* {
  margin: 0;
  padding: 0;
}

.top-section {
  background-color: #101113;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color:#101113;
  border: solid;
  border-color: red;
  width: 100%;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  border: dashed;
  border-color: blue;
  width: 1000px;
}

.header-title {
  font-size: 24px; 
  color: #F9FAF8;
}

.links-menu {
  display: flex;
  justify-content: flex-end;
  color: #F9FAF8;
  font-size: 18px;
  border: solid;
  border-color: paleturquoise;
  gap: 30px;
}

.second-header {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: red;
  background-color:#101113;
  width: 100%;
}

.second-info {
  border: dashed;
  border-color:blue;
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.awesome-head {
  width: 480px;
  border: solid;
  border-color: pink;
}

.website-info {
  color:#F9FAF8;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 480px;
  word-wrap: break-word;
  border: solid;
  border-color: aqua;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.website-heading {
  font-size: 42px;
  color: yellow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
  background-color: yellow;
  border: none;
  padding: 10px 30px; 
  border-radius: 4px;
  color:#101113;
  font-weight: bold;
}

.image-container {
  display: flex;
  border: solid;
  border-color: aliceblue;
  
}
.image {
  display: flex;
  border: solid;
  border-color: pink;
  align-items: center; 
  
}

.middle-section {
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: yellow;
}

.middle-info-container {
  height: 60px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.info {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image-middle-container {
  height: 200px;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
  
}

.image-one,
.image-two,
.image-three,
.image-four {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.third-section {
  background-color: #101113;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
}

.quote-item {
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}



.fourth-section {
  height: 300px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

/*.action-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 250px;
  border: black dashed;
}*/

.action-menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 60px;
  align-items: center;
}


.sentence {
  font-size: 32px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  
}

.chisme {
  background-color: #101113;
  color:#F9FAF8;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-right: 40px;
}




